/*
!/.gitignore
!/README.md
!/Weseeker/

/Weseeker/*
!/Weseeker/pyproject.toml
!/Weseeker/settings.yaml
!/Weseeker/src/
!/Weseeker/src/**
/Weseeker/src/mcp_servers/rag_tools/*.md
!/Weseeker/scripts/
!/Weseeker/scripts/**
!/Weseeker/frontend/
!/Weseeker/frontend/**

/Weseeker/.env
/Weseeker/tests/
/Weseeker/docs/
/Weseeker/mcp_server.out.log
/Weseeker/mcp_server.err.log
*.log
*.egg-info/
**/__pycache__/
*.pyc
